@charset: "UTF-8";

@font-face {
    font-family: noto;
    src: url('../font/NotoSansCJKjp-Regular.woff');
}

@font-face{
	font-family: mplus;
	src: url('../font/mplus-1p-regular.woff');
}

html{
	width: 100%;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	background-image: url('../images/background.jpg');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: "noto", sans-serif;
}

header{
	position: fixed;
	top: 0;
	margin: 0;
	margin-bottom: 120px;
	padding: 0;
	width: 100%;
	height: 105px;
	background-color: rgba(0, 0, 70, .8);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
	z-index: 999;
}


input:focus {
outline: none;
}

#swindow{
	position: static;
	display: block;
	padding: 0 20px;
	height: 44px;
	width: 580px;
	font-family: "noto", sans-serif;
	font-size: 20px;
	color: #c8e1e1;
	text-shadow: 1px 1px 5px #fff;
	margin: 0 auto;
	margin-top: 20px;
	background-color: rgba(0, 80, 155, .6);
	border: none;
    -webkit-clip-path: polygon(98% 0, 100% 25%, 100% 100%, 2% 100%, 0% 75%, 0 0);
    clip-path: polygon(98% 0, 100% 25%, 100% 100%, 2% 100%, 0% 75%, 0 0);
}

#sbutton{
	display: none;
}

#type{
	padding: 0;
	list-style-type: none;
	width: 620px;
	margin: 0 auto;
}

#type li{
	margin: 0;
	margin-top: 8px;
	padding: 0;
	float: left;
	width: 80px;
	height: 31px;
	line-height: 31px;
	font-size: 18px;
	text-align: center;
	bottom: 0;
}

#type li:first-child{
	width: 100px;
	margin-left: 60px;
    border-bottom: 2px solid #06f;
}


#type li a{
	text-decoration: none;
	color: #c8e1e1;
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .4);
}

#type li:first-child a{
	font-family: "mplus", "noto", sans-serif;
	color: #c8e1e1;
}

#type li a:hover{
	text-shadow: 2px 2px 4px rgba(225, 225, 225, .6);
}

#resultsarea{
	margin: 0 auto;
	margin-top: 150px;
	padding: 0px;
	width: 620px;
}

#imageresult{
	margin: 0 auto;
	margin-bottom: 30px;
	width: 620px;
	//height: 350px;
	background-color: rgba(0, 225, 225, .1);
	overflow: scroll;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.result{
	background-color: rgba(0, 50, 125, .5);
	width: 610px;
	padding: 5px;
	padding-bottom: 10px;
	margin: 0 auto;
	margin-bottom: 0;
	overflow: scroll;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

.result:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
}

.result a{
	text-decoration: none;
	font-size: 18px;
	color: #c8e1e1;
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .4);
	padding: 0;
	margin: 0;
}

.result a:hover{
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .6)
}

.time{
	font-size: 15px;
	color: #c8e1e1;
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .4);
	padding: 0;
	margin: 0;
}

.erpix{
	font-size: 20px;
	color: #c8e1e1;
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .4);
	padding: 0;
	margin: 0;
}

#videoresult, #channelresult, #listresult{
	list-style-type: none;
	width: 620px;
	padding: 0;
	margin: 0 auto;
}

#videoresult li, #channelresult li, #listresult li{
	background-color: rgba(0, 225, 225, .1);
	padding: 5px 0;
	width: 620px;
	margin: 0 auto;
	margin-bottom: 30px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

#videoresult li:hover, #channelresult li:hover, #listresult li:hover{
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}

#videoresult li iframe, #listresult li iframe{
	margin-left: 30px;
}

.pixv{
	background-color: rgba(0, 225, 225, .1);
	padding: 5px 0;
	width: 620px;
	margin: 0 auto;
	margin-bottom: 30px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
.pixv iframe{
	margin-left: 30px;
}

.decodeurl{
	font-size: 10px;
	color: #a00000;
}

.desc{
	margin-top: 5px;
	font-size: 14px;
	color: #3ee;
}

#bottom{
	margin: 0 auto;
	padding: 0;
	margin-bottom: 60px;
	width: 620px;
}

#bottom a{
	text-decoration: none;
}

#bottom a:visited{
}

#backwrap{
	float: left;
	width: 102px;
}

#back{
	background-color: rgba(0, 50, 125, .3);
	width: 100px;
	height: 40px;
    text-align: center;
	line-height: 40px;
	color: #c8e1e1;
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .4);
	-webkit-clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0% 75%, 0 0);
    clip-path: polygon(90% 0, 100% 25%, 100% 100%, 10% 100%, 0% 75%, 0 0);
    border-right: 2px solid rgba(0, 0, 0, .1);
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

#back:hover{
    border-right: 2px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid rgba(0, 0, 0, .2);
}

#fwrap{
	width: 102px;
	margin-left: 520px;
}

#forward{
	background-color: rgba(0, 50, 125, .3);
	width: 100px;
	height: 40px;
	//margin-left: 520px;
	line-height: 40px;
	text-align: center;
	color: #c8e1e1;
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .4);
	-webkit-clip-path: polygon(10% 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0% 25%);
    clip-path: polygon(10% 0, 100% 0, 100% 75%, 90% 100%, 0 100%, 0% 25%);
    border-left: 2px solid rgba(0, 0, 0, .1);
    border-bottom: 2px solid rgba(0, 0, 0, .1);
}

#forward:hover{
	border-left: 2px solid rgba(0, 0, 0, .2);
    border-bottom: 2px solid rgba(0, 0, 0, .2);
}

#footer{
	margin: 0 auto;
	padding: 0;
	width:  620px;
	height: 40px;
	background-color: rgba(0, 50, 125, .3);
}

#footerlist{
	margin: 0 auto;
	padding: 0;
	list-style-type: none;
	width: 620px;
}

#footerlist li{
	margin: 0 auto;
	margin-top: 6px;
	margin-left: 40px;
	padding: 0;
	float: left;
	width: 76px;
	text-align: center;
}

#footerlist li a{
	text-decoration: none;
	font-size: 15px;
	color: #c8e1e1;
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .4);
}

#footerlist li a:hover{
	text-shadow: 1px 1px 4px rgba(225, 225, 225, .6);
}